

.hero-section,
.footer-section,
.banner-section {
  width: 100%;
  max-width: 1920px;
}
.topbar {
  background: linear-gradient(to right, #f9a102 0%,#f7b60a 51%,#f4ca12 100%);
}

.background-hero-image {
  background-image: url("assets/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#gradbox {
  background: linear-gradient(to right,  #f9a102 0%,#f7b60a 51%,#f4ca12 100%);
  background-size: cover;
  }

.logoimage {
  padding-top: 50px;
}


h1 {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1a1f71;
  font-size: 53px;
  font-weight:lighter
}
  
h2 {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1a1f71;
  font-size: 40px;
  font-weight: lighter;
}

h3 {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1a1f71;
  font-size: 32px;
  font-weight:lighter;
}

h4 {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px; 
  font-weight: lighter;
  color: #151515;
}

p {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight:lighter;

}

